.summary-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__buttons {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    &--margin-top {
      margin-top: 8px;
    }
  }
}