.summary-page {
  padding: 1.5rem;
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  &__buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    &--margin-top {
      margin-top: 8px;
    }
  }
}