.button {
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;

  &.primary {
    color: #FFFFFF;
    background-color: #2F80ED;
  }

  &.secondary {
    color: #2F80ED;
    border: 1px solid #2F80ED;
    background-color: #fff;
  }

  &.icon {
    padding: 0;
    background-color: transparent;
  }
}
