.card-container {
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1.5rem;
  overflow: hidden;
  max-width: 342px;
  &__image-wrapper {
    &__image-placeholder {
      height: 183px;
      width:342px;
    }
    &__completed-text {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #219653;
      color: white;
      padding: 4px 8px;
      font-size: 12px;
      border-radius: 4px;
      &--warning {
        background-color: goldenrod;
      }
    }
  }


  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    &__title, &__subtitle {
      margin: 0;
      padding: 0;
    }
    &__subtitle {
      margin-bottom: 16px;
    }
  }
  &__button {
    width: 100%;
  }
}