.navbar {
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 1.5rem;
  border-bottom: 1px solid #E6E6E6;
  &__children-container {
    position: relative;
    width: 100%;
    margin: 0 2rem;
  }
}
