.progress-bar {
  position: relative;
  height: 4px;
  background-color: #E0E0E0;
  &__text {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
    &--bold {
      font-weight: bold;
    }
  }

  &__fill {
    height: 100%;
    background: #2F80ED;
  }
}
